

.together{

position: fixed;
display: flex;
flex-direction: row;
	z-index: 99999999999;


}



#refrence-circle{
		border-radius: 50%;
		border: 3px solid red;
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
position: relative;
	 width: 50vh;
	 height: 50vh;
}





#circle-stepin-in{
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
}
#circle-stepin-in-link {
	display: inline-block;
	position: relative;
	border: 3px solid white;
	border-radius: 50%;
	width: 100%;
	height: auto;
	z-index: 9999999;
	transition: 0.2s all;
	order: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 50vh;
	height: 50vh;

	 pointer-events:all !important;


}
div#circle-stepin-in-link:hover{
	 transition: background-color;
	background-color: white;
		transition: 0.2s all;
}

#clock2 {
    /*top: 50%;
	left: 50%;*/
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: -999;
    /*margin: -600px 0 0 -350px;*/
}

#ho0 {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#ho1 {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#ho2 {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#min1 {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#min2 {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#sec1 {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#sec2 {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
