

.together{
position: fixed;
display: flex;
flex-direction: row;
	z-index: 99999999999;


}



#refrence-circle{
		border-radius: 50%;
		border: 3px solid red;
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
position: relative;
	 width: 50vh;
	 height: 50vh;
}





#circle-stepin-in{
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
}
#circle-stepin-in-link {
	display: inline-block;
	position: relative;
	border: 3px solid white;
	border-radius: 50%;
	width: 100%;
	height: auto;
	z-index: 9999999;
	transition: 0.2s all;
	order: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 50vh;
	height: 50vh;

	 pointer-events:all !important;


}
div#circle-stepin-in-link:hover{
	 transition: background-color;
	background-color: white;
		transition: 0.2s all;
}
