/*-------------------------------*/


/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */

html {
    /*color: #000;*/
    background: white;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input, textarea, select {
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* actual */

html, body {
    cursor: crosshair;
}

nav {
	z-index: 999999;
	position: relative;
	padding-top: 1em;
}

.fixed{
	position: fixed;
}

.top {
    z-index: 5;
    position: absolute;
		top:0;
		left: 0;
}

.bottom {
    z-index: 1;
    position: relative
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

body {
    top: 0;
    height: 100vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    right: 0;

    margin: 0px;
    padding: 0px;
    background-color: rgba(233, 233, 233, 0.78);
    /*  background-image: url("../img/back.jpg"); */
}
@media screen and (min-width: 300px) and (max-width: 900px) {
body{ max-width: 300px
	top: 0;
	height: 100vh;
	width: 100vw;
	right: 0;
	bottom: 0;
	right: 0;

	margin: 0px;
	padding: 0px;
	background-color: rgba(233, 233, 233, 0.78); }
}

#curseur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
}
/*
div is this size of content
*/
.imgdrag {

    top: 50px;
    display: block;
    position: absolute !important;
}
/*
div is specific size
*/
.project {
    /*margin: auto;*/
    top: 50px;
    width: 500px;
    height: 100vh;
    display: block;
    position: absolute !important;
}

.img {
	width: 500px;
    overflow-y: hidden;
}

iframe {
    cursor: crosshair;
}

video {
    display: block;
}

.ab {
    right: 40px;
    top: 10px;
    font-size: 20px;
}

.re {
    right: 85px;
    top: 13px;
    height: 14px;
}


/* page slider */




.form{
	overflow: hidden;
    height: 100vh;
	position: relative;
	width: 100vw;


	background-color: black;
	color: white;
}
.internal-form{
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;

}

#f1{
	height:500px;
	 width:100%;
	 position:fixed;
	 top:0;
	 left:0;
	 background:#ff0;
	 z-index:500;
}
#f2{
	height:500px;
	 width:100%;
	 margin-top: 500px;
	 position:relative;
	 top:0;
	 left:0;
	 background:red;
	 z-index:600;
}
#f3{
	height:100px;
	 width:100%;
	 position:relative;
	 top:1000px;
	 left:0;
	 background:blue;
	 z-index:700;
}


/* Text Styles, Colors, Backgrounds */

.nav{
	position: fixed;
	padding-top: 1em;
}

.button{
	position: fixed;
	padding-top: 1em;
}



.site-header {
	margin-top: 50vh;
	float: right;
    position: fixed;
		z-index: 99999;
}
.site-header a{
		text-decoration: none;
	}

.about-overlay {
	padding-top:-1em;
	display: none;
    }

.about-overlay-title{
	position: absolute;
	z-index:99999999;
}
.about-wrapper {

  position: fixed;
  z-index: 9999999;

  height: 105%;
}


.text {
	float: right;
	font-family: serif;
	font-style: italic;
	font-size: 2em;
	border-bottom: 2px solid #000;
	text-decoration: none;
	color: black;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-transition: .2s all;
	transition: .2s all



	/*scroller */
