/*-------------------------------*/


/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input, textarea, select {
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}












/* actual */









html, body {
    cursor: crosshair;
}

nav {
    z-index: 999999;
    padding-top: 1em;
}

.fixed {
    position: fixed;
}

.top {
    z-index: 5;
    position: absolute;
}

.bottom {
    z-index: 1;
	    position: relative;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

#curseur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
}







/*
div is this size of content
*/





.imgdrag {
    top: 50px;
    display: block;
    position: absolute!important;
}







/*
div is specific size
*/







.project {
    /*margin: auto;*/
    top: 50px;
    width: 500px;
    height: 100vh;
    display: block;
    position: absolute !important;
}

.img {
    height: 250px;
    overflow-y: hidden;
}

iframe {
    cursor: crosshair;

		width:100%;
		background-size: cover;
}

video {
    display: block;
}







/* page slider */






#f1 {
    height: 500px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ff0;
    z-index: 500;
}

#f2 {
    height: 500px;
    width: 100%;
    margin-top: 500px;
    position: relative;
    top: 0;
    left: 0;
    background: red;
    z-index: 600;
}

#f3 {
    height: 100px;
    width: 100%;
    position: relative;
    top: 1000px;
    left: 0;
    background: blue;
    z-index: 700;
}

#about {
    display: block;
    position: absolute;
    height: 100vh;
}










/*cover page with drag elements*/








#mainpage {
    width: 100%;
    height: 100vh;
    display: block;

    background: black;
    overflow: hidden;
    position: relative;
    z-index: 2;
    color: #fff;
}











/* Cleaner, but slightly less support: use "50%" as value */

/*clivk button*/









#mainpage nav {
    position: absolute;
    min-height: 100%;
}


#navigation {
    list-style: none;
}

#content {
    display: block;
    margin-left: 2em;
}

#content p {
    color: #fff;
}


/* right navigation */






.about-type{
	overflow-y: scroll;
	width: 750px;
  float: left;
  height: 100vh;
  padding: 0 25px 10px 0px;
  margin: 0px 25px 0px 0px;
	color: transparent;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}
.hyphens {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.overflow-x-right{
	display:inline;
	position: absolute;
		width: 5550px;

}

#aboutright {
	background-color: black;
    display: flex;
    position: absolute;
		height: 100%;
			width: 100vw;
				overflow-x: scroll;
				overflow-y: scroll; /* has to be scroll, not auto */
-webkit-overflow-scrolling: touch;
}

#closebtn{
	margin-top: 50vh;
	left: 1em;
	float: left;
	position: fixed;
	  z-index: 2;
}

nav#right {
    position: absolute;
		float: right;
    right: 1em;
    margin-top: 50vh;
}

/* new page blockcss */







#mainpage2 {

    width: 100%;
    height: 100vh;
    display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		background-color: #000;
    overflow: hidden;
    position: relative;
    z-index: 2;
}


/*clivk button*/







.imgdrag2 {
    display: block;
    position: sticky!important;
}
#mainpage2 nav {
    position: absolute;
    min-height: 100%;
}


#navigation2 {
    list-style: none;
}

#content2 {
    display: block;
}

#content2 p {
    color: #fff;
}

.block {
	width: 96px; height: 96px;
	background-color: white;
	border-style: solid; border-width: 1px;
	border-color: #000;
}
.block-one{
	width: 96px; height: 96px;
}

.bg-block{
		margin: 0;
		padding: 0;
    /*height: 100%;
    z-index: -100;*/
    /*transform: translateX(-50%) translateY(-50%);
  	background-size: cover;*/
		background-color: #000;
	}



/*TYPE*/







.block2 {
	width: 240px; height: 100%;
	/*background-color: white;
	border-style: solid; border-width: 1px;
	border-color: #000;*/
}

.about-type2{
  padding: 0 25px 10px 0px;
  margin: 0px 25px 0px 0px;
	color: transparent;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}
.hyphens {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.overflow-x-right{
	display:inline;
	position: absolute;
		width: 5550px;

}
#mainpage3 {
	overflow-y: scroll;
    width: 100%;
    height: 100vh;
    display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		background-color: #000;

    position: relative;
    z-index: 2;
}

.but{
	-webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: white;
}










/* overlay circles and links */


#circle {
	position: fixed;
	top: 50%;
	left: 50%;
	border: 3px solid black;
  border-radius: 400px;
  height: 750px;
  width: 750px;
	z-index: 9999999;
	 margin: -400px 0 0 -400px;
	 pointer-events: none;
	 background: none !important;
}
#circle-stepin {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid black;
  border-radius: 275px;
  height: 550px;
  width: 550px;
	z-index: 9999999;
	 margin: -275px 0 0 -275px;
	 pointer-events: none;
	 background: none !important;
}

#circle-stepin-in {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid black;
  border-radius: 175px;
  height: 350px;
  width: 350px;
	z-index: 9999999;
	 margin: -175px 0 0 -175px;
	 pointer-events: none;
	 background: none !important;
}
#circle-stepin-in-link {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid black;
  border-radius: 75px;
  height: 150px;
  width: 150px;
	z-index: 9999999;
	 margin: -75px 0 0 -75px;
	 pointer-events:all !important;
	 -webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;

}
div#circle-stepin-in-link:hover{
	 transition: background-color;
	background-color: black;
	-webkit-transition: 0.2s ease-in-out;
	 -moz-transition: 0.2s ease-in-out;
	 -o-transition: 0.2s ease-in-out;
	 -ms-transition: 0.2s ease-in-out;
	 transition: 0.2s ease-in-out;
}

/*diagram page */





.dia-hold{
	display: flex;
	justify-content: space-around;
	align-items: center;
height:100%;
width:100%;
}

.parent{
		display: flex;
	align-items: center;
	justify-content: space-around;
width: 50%;
height:100%;

}

.dia {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
  border-radius: 400px;
  height: 750px;
  width: 750px;
	z-index: 9999999;
	/*pointer-events:all !important;*/
	-webkit-transition: 0.2s ease-in-out;
	 -moz-transition: 0.2s ease-in-out;
	 -o-transition: 0.2s ease-in-out;
	 -ms-transition: 0.2s ease-in-out;
	 transition: 0.2s ease-in-out;
	 	 background: none !important;
}

div.dia:hover{
		border: 100px solid black;
	  border-radius: 750px;
	  height: 750px;
	  width: 750px;

	-webkit-transition: 0.2s ease-in-out;
	 -moz-transition: 0.2s ease-in-out;
	 -o-transition: 0.2s ease-in-out;
	 -ms-transition: 0.2s ease-in-out;
	 transition: 0.2s ease-in-out;
}

.dia-hold a{
	position: absolute;
display: flex;
align-self: center;
	align-items: center;
	justify-content: center;
}
.one{
		position: absolute;
	display: flex;
	align-self: center;
		align-items: center;
		justify-content: center;
	border: 3px solid black;
  border-radius: 275px;
  height: 550px;
  width: 550px;
	z-index: 9999999;
	/*pointer-events:all !important;*/
	-webkit-transition: 0.2s ease-in-out;
	 -moz-transition: 0.2s ease-in-out;
	 -o-transition: 0.2s ease-in-out;
	 -ms-transition: 0.2s ease-in-out;
	 transition: 0.2s ease-in-out;

}
div.one:hover{
	 border: 100px solid black;
   border-radius: 275px;
   height: 550px;
   width: 550px;
	-webkit-transition: 0.2s ease-in-out;
	 -moz-transition: 0.2s ease-in-out;
	 -o-transition: 0.2s ease-in-out;
	 -ms-transition: 0.2s ease-in-out;
	 transition: 0.2s ease-in-out;

}


.two{
		position: absolute;
	display: flex;
align-self: center;
	align-items: center;
	justify-content: center;
	border: 3px solid black;
  border-radius: 175px;
  height: 350px;
  width: 350px;
	z-index: 9999999;
	/*pointer-events:all !important;*/
	-webkit-transition: 0.2s ease-in-out;
	 -moz-transition: 0.2s ease-in-out;
	 -o-transition: 0.2s ease-in-out;
	 -ms-transition: 0.2s ease-in-out;
	 transition: 0.2s ease-in-out;

}
div.two:hover{

	 border: 100px solid black;
   border-radius: 175px;
   height: 350px;
   width: 350px;
	-webkit-transition: 0.2s ease-in-out;
	 -moz-transition: 0.2s ease-in-out;
	 -o-transition: 0.2s ease-in-out;
	 -ms-transition: 0.2s ease-in-out;
	 transition: 0.2s ease-in-out;

}

.three-link {
		position: absolute;
	display: flex;
		align-items: center;
	align-self: center;
	justify-content: center;
	border: 3px solid black;
  border-radius: 75px;
  height: 150px;
  width: 150px;
	z-index: 9999999;
	 /*pointer-events:all !important;*/
	 -webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;

}
div.three-link:hover{
	 transition: background-color;
	background-color: black;
	-webkit-transition: 0.2s ease-in-out;
	 -moz-transition: 0.2s ease-in-out;
	 -o-transition: 0.2s ease-in-out;
	 -ms-transition: 0.2s ease-in-out;
	 transition: 0.2s ease-in-out;
}


/**/


#clock {
	/*top: 50%;
	left: 50%;*/
position: fixed;
display: flex;
align-items: center;
justify-content: center;
width:100%;
height:1200px;
/*margin: -600px 0 0 -350px;*/
}
#hour0{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#hour1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#hour2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width:100%;
}
#minute1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width:100%;
}
#minute2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#second1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#second2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#mili1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#mili2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#dots{
z-index: -1;
position: fixed;
height: 100%;
width: 100%;
}



/*type on the blok.html page*/
@font-face {font-family: "Ogg-Roman";
  src: url("onlinewebfonts.eot"); /* IE9*/
  src: url("onlinewebfonts.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("onlinewebfonts.woff2") format("woff2"), /* chrome、firefox */
  url("onlinewebfonts.woff") format("woff"), /* chrome、firefox */
  url("onlinewebfonts.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("onlinewebfonts.svg#Ogg-Roman") format("svg"); /* iOS 4.1- */
}


.type-addition{
	-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
		height: 300px;
	font-family:"Ogg-Roman" !important;
	display: inline;
	width: 100%;
	z-index: 10;
	padding: 10px;
	position: absolute;
	font-size: 3em;
	/*-webkit-column-count: 3*/
}
.type-addition-one{
	-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
		height: 300px;
	font-family:"Ogg-Roman" !important;
	display: inline;
	width: 100%;
	z-index: 10;
	padding: 10px;
	position: absolute;
	font-size: 3em;
			top:400px;
}
	.type-addition-two{
		-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
	    -moz-columns: 100px 3; /* Firefox */
	    columns: 100px 3;
			height: 300px;
		font-family:"Ogg-Roman" !important;
		display: inline;
		width: 100%;
		z-index: 10;
		padding: 10px;
		position: absolute;
		font-size: 3em;
				top:800px;
	}


.block-images-type{
	filter: grayscale(100%);
	width: 100px;
	height: 100%

}
