@font-face {font-family: "Gill Facia MT Std Regular Display";
  src: url("435079d34f9ef82c6ee56ba38e82d0ac.eot"); /* IE9*/
  src: url("435079d34f9ef82c6ee56ba38e82d0ac.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("435079d34f9ef82c6ee56ba38e82d0ac.woff2") format("woff2"), /* chrome、firefox */
  url("435079d34f9ef82c6ee56ba38e82d0ac.woff") format("woff"), /* chrome、firefox */
  url("435079d34f9ef82c6ee56ba38e82d0ac.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("435079d34f9ef82c6ee56ba38e82d0ac.svg#Gill Facia MT Std Regular Display") format("svg"); /* iOS 4.1- */
}
/*map two*/

.flex{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-betwen;
	width: 100vw;
 height: 100vh;
 	position: fixed;
	pointer-events: none;


	z-index: 99999;
}

.map-type-left{

	display: flex;
	font-size: 5vw;
	line-height: .9em;
	z-index: 99999;
	pointer-events: none;

color: white;

}
.second-phrase {
	font-family:"Gill Facia MT Std" !important;
	width: 500px;
	pointer-events: none;


}

.second-phrase-2 {
	font-family:"Gill Facia MT Std" !important;
width: 500px;
text-align:  left;
pointer-events: none;

}

.second-phrase-3 {
	font-family:"Gill Facia MT Std" !important;
width: 500px;
  text-align: right;
	pointer-events: none;

}

.second-phrase-4 {
	font-family:"Gill Facia MT Std" !important;
width: 500px;
text-align: left;
align-self:flex-end;
pointer-events: none;

}
.second-phrase-5{
	font-family:"Gill Facia MT Std" !important;
width:500px;
text-align: left;
align-self:flex-end;
pointer-events: none;

}
.second-phrase-6{
	font-family:"Gill Facia MT Std" !important;
width:500px;
text-align: right;
align-self:flex-end;
bottom: 1px;
pointer-events: none;

}







.together{
position: fixed;
display: flex;
flex-direction: row;
float:right;
	right: 0;
	bottom: 0;

	z-index: 99999999999;


}



#refrence-circle{
		border-radius: 50%;
		border: 3px solid red;
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
position: relative;
	 width: 50vh;
	 height: 50vh;
}





#circle-stepin-in{
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
}
#circle-stepin-in-link {
	display: inline-block;
	position: relative;
	border: 3px solid white;
	border-radius: 50%;
	width: 100%;
	height: auto;
	z-index: 9999999;
	transition: 0.2s all;
	order: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 50vh;
	height: 50vh;

	 pointer-events:all !important;


}
div#circle-stepin-in-link:hover{
	 transition: background-color;
	background-color: white;
		transition: 0.2s all;
}
