@font-face {font-family: "Ogg-Roman";
  src: url("onlinewebfonts.eot"); /* IE9*/
  src: url("onlinewebfonts.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("onlinewebfonts.woff2") format("woff2"), /* chrome、firefox */
  url("onlinewebfonts.woff") format("woff"), /* chrome、firefox */
  url("onlinewebfonts.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("onlinewebfonts.svg#Ogg-Roman") format("svg"); /* iOS 4.1- */
}




/*font-family: 'Droid Serif', serif;*/

.flex{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-betwen;
	width: 100vw;	height: 100vh;
	padding: 10px;
	position:absolute;
}

.map-type-left{
		display: flex;
		font-size: 5vw;
    line-height: .9em;
		z-index: 99999;
		pointer-events: none;
color: white;
}

.second-phrase {
	font-family:"Ogg-Roman" !important;
	width: 500px;


}

.second-phrase-2 {
	font-family:"Ogg-Roman" !important;
width: 500px;
text-align:  left;

}

.second-phrase-3 {
	font-family:"Ogg-Roman" !important;
width: 500px;
  text-align: right;

}

.second-phrase-4 {
	font-family:"Ogg-Roman" !important;
width: 500px;
text-align: left;
align-self:flex-end;

}
.second-phrase-5{
	font-family:"Ogg-Roman" !important;
width:500px;
text-align: left;
align-self:flex-end;

}
.second-phrase-6{
	font-family:"Ogg-Roman" !important;
width:500px;
text-align: right;
align-self:flex-end;

}


#type-italic{
	   font-style: italic;
		 pointer-events: none;
}

/*
