

.map-type{

	width: 100%;
	z-index: 10;
	padding: 10px;
	position: absolute;
	/*-webkit-column-count: 3*/
}

.map-type p{
	font-weight: lighter;
		font-size: 2em;
		text-transform: uppercase;
		color: white;
}

.phrase {

}

.phrase-2 {
	float: right;
	right: 10px;
}

.phrase-3 {
top: 40px;
}

.phrase-4 {

}
