/*font-family: 'Droid Serif', serif;*/

.map-type-left{
		color: white;
		font-size: 4.5vw;
    left: 14px;
    line-height: .9em;
    position: fixed;
		z-index: 99999;
		pointer-events: none;
		display:inline;
		font-weight: lighter;
}
.map-type-right{
		color: white;
		font-size: 4.5vw;
    right: 14px;
    line-height: .9em;
    position: fixed;
		z-index: 99999;
		pointer-events: none;
		display:inline;
    text-align: right;
			font-weight: lighter;
}
.contain{
	width:600px;
}
.left{
	left: 520px;
}
.top{
	top:520px;
}
.type{
	font-family: sans-serif;
	pointer-events: none;
}
.type-italic{
	   font-style: italic;
		 pointer-events: none;
}
.phrase {
width: 400px

}

.phrase-2 {
width: 400px
left: 430px;
}

.phrase-3 {
width: 800px
}

.phrase-4 {

}
.phrase-5{
	width: 600px
}
