/*-------------------------------*/



/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input, textarea, select {
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}


/* actual */

#circle {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 3px solid black;
    border-radius: 400px;
    height: 750px;
    width: 750px;
    z-index: 9999999;
    margin: -400px 0 0 -400px;
    pointer-events: none;
    background: none !important;
}

#circle-stepin {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid black;
    border-radius: 275px;
    height: 550px;
    width: 550px;
    z-index: 9999999;
    margin: -275px 0 0 -275px;
    pointer-events: none;
    background: none !important;
}

#circle-stepin-in {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid black;
    border-radius: 175px;
    height: 350px;
    width: 350px;
    z-index: 9999999;
    margin: -175px 0 0 -175px;
    pointer-events: none;
    background: none !important;
}

#circle-stepin-in-link {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid black;
    border-radius: 75px;
    height: 150px;
    width: 150px;
    z-index: 9999999;
    margin: -75px 0 0 -75px;
    pointer-events: all !important;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

div#circle-stepin-in-link:hover {
    transition: background-color;
    background-color: black;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}



/*clock*/



input{
	z-index: 9999999;
}
input[type=checkbox] {
	visibility: hidden;
}
.checkboxOne{
	width: 40px;
	height: 40px;
	margin: 5px 5px;

	border-radius: 100%;
	position: relative;
		position: fixed;
	left: 20px;
		z-index: 9999999;
}
.checkboxOne label {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100px;
  border: 2px solid black;
	transition: all .1s ease;
	cursor: pointer;
	position: absolute;

	z-index: 1;
}

.checkboxOne input[type=checkbox]:checked + label {
	background: black;
}

/*two*/

.checkboxTwo{
	width: 40px;
	height: 40px;
	margin: 60px 5px;

	border-radius: 100%;
	position: relative;
		position: fixed;
	left: 20px;
		z-index: 9999999;
}
.checkboxTwo label {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100px;
  border: 2px solid black;
	transition: all .1s ease;
	cursor: pointer;
	position: absolute;

	z-index: 1;
}

.checkboxTwo input[type=checkbox]:checked + label {
	background: black;
}

/*three*/


.checkboxThree{
	width: 40px;
	height: 40px;
	margin: 110px 5px;

	border-radius: 100%;
	position: relative;
		position: fixed;
	left: 20px;
		z-index: 9999999;
}
.checkboxThree label {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100px;
  border: 2px solid black;
	transition: all .1s ease;
	cursor: pointer;
	position: absolute;

	z-index: 1;
}

.checkboxThree input[type=checkbox]:checked + label {
	background: black;
}

/*four*/

.checkboxFour{
	width: 40px;
	height: 40px;
	margin: 165px 5px;

	border-radius: 100%;
	position: relative;
		position: fixed;
	left: 20px;
		z-index: 9999999;
}
.checkboxFour label {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100px;
  border: 2px solid black;
	transition: all .1s ease;
	cursor: pointer;
	position: absolute;

	z-index: 1;
}

.checkboxFour input[type=checkbox]:checked + label {
	background: black;
}




.left-clock img{
	height: 100%;
	width: 50%;
	float: left;
}

.right-text{
	width: 50%;
	float: right;
}


#clock {
	/*top: 50%;
	left: 50%;*/
position: fixed;
display: flex;
align-items: center;
justify-content: center;
width:100%;
height:100%;
z-index: -999;
/*margin: -600px 0 0 -350px;*/
}
#hour0{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#hour1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#hour2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width:100%;
}
#minute1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width:100%;
}
#minute2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#second1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#second2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#mili1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#mili2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#dots{
z-index: -1;
position: fixed;
height: 100%;
width: 100%;
}



/*#clock{

}


#hour0 {
position: absolute;

}

#hour1 {
position: absolute;

}

#hour2 {
position: absolute;

}

#minute1 {
position: absolute;

}

#minute2 {
position: absolute;

}

#second1 {
position: absolute;


}

#second2 {
  position: absolute;

}*/


/*type on the blok.html page*/

body{
	  background-color: black;
			font-family: 'Space Mono', monospace;
}


#myDIV {
	position: absolute;
	font-weight: lighter;
	z-index: 10;
	padding: 10px;
	font-size: 3em;
	float: left;
	height: 100vh;
	overflow-y: scroll;
	color: black;
}

#myDIV2 {
	position: absolute;

		font-weight: lighter;
	z-index: 10;
	padding: 10px;
	font-size: 3em;
	float: left;
	height: 100vh;
	overflow-y: scroll;
	color: black;
}
#myDIV3 {
	position: absolute;

		font-weight: lighter;
	z-index: 10;
	padding: 10px;
	font-size: 3em;
	float: left;
	height: 100vh;
	overflow-y: scroll;
	color: black;
}
#myDIV4 {
	position: absolute;

		font-weight: lighter;
	z-index: 10;
	padding: 10px;
	font-size: 3em;
	float: left;
	height: 100vh;
	overflow-y: scroll;
	color: black;
}

.images {

    z-index: 10;
    padding: 10px;
    font-size: 4em;
    float: left;
    height: 100vh;
    overflow: hidden;
}

.type-addition-one {

    z-index: 10;
    padding: 10px;
    font-size: 4em;
    float: left;
    height: 100vh;
    overflow-y: scroll;
		color: black;
}

#ital{
	font-style: italic;
}


/*buttons */
