/*-------------------------------*/



/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input, textarea, select {
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}


/* actual */

.together{
position: fixed;
display: flex;
flex-direction: row;
float:right;
	right: 0;
	bottom: 0;

	z-index: 99999999999;


}



#refrence-circle{
		border-radius: 50%;
		border: 3px solid red;
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
position: relative;
	 width: 50vh;
	 height: 50vh;
}





#circle-stepin-in{
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
}
#circle-stepin-in-link {
	display: inline-block;
	position: relative;
	border: 3px solid white;
	border-radius: 50%;
	width: 100%;
	height: auto;
	z-index: 9999999;
	transition: 0.2s all;
	order: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 50vh;
	height: 50vh;

	 pointer-events:all !important;


}
div#circle-stepin-in-link:hover{
	 transition: background-color;
	background-color: white;
		transition: 0.2s all;
}



/*clock*/



input{
	z-index: 9999999;
}
input[type=checkbox] {
	visibility: hidden;
}
.checkboxOne{
	margin: 5px 5px;

	border-radius: 100%;
	position: relative;
		position: fixed;
	left: 20px;
		z-index: 9999999;
}
.checkboxOne label {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100px;
  border: 2px solid black;
	transition: all .1s ease;
	position: absolute;

	z-index: 1;
}

.checkboxOne input[type=checkbox]:checked + label {
	background: black;
}

/*two*/

.checkboxTwo{
	margin: 60px 5px;

	border-radius: 100%;
	position: relative;
		position: fixed;
	left: 20px;
		z-index: 9999999;
}
.checkboxTwo label {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100px;
  border: 2px solid black;
	transition: all .1s ease;
	position: absolute;

	z-index: 1;
}

.checkboxTwo input[type=checkbox]:checked + label {
	background: black;
}

/*three*/


.checkboxThree{

	margin: 110px 5px;

	border-radius: 100%;
	position: relative;
		position: fixed;
	left: 20px;
		z-index: 9999999;
}
.checkboxThree label {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100px;
  border: 2px solid black;
	transition: all .1s ease;
	position: absolute;

	z-index: 1;
}

.checkboxThree input[type=checkbox]:checked + label {
	background: black;
}

/*four*/

.checkboxFour{

	margin: 165px 5px;

	border-radius: 100%;
	position: relative;
		position: fixed;
	left: 20px;
		z-index: 9999999;
}
.checkboxFour label {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100px;
  border: 2px solid black;
	transition: all .1s ease;
	position: absolute;

	z-index: 1;
}

.checkboxFour input[type=checkbox]:checked + label {
	background: black;
}




.left-clock img{
	height: 100%;
	width: 50%;
	float: left;
}

.right-text{
	width: 50%;
	float: right;
}


#clock {
	/*top: 50%;
	left: 50%;*/
position: fixed;
display: flex;
align-items: center;
justify-content: center;
width:100%;
height:100%;
z-index: -999;
/*margin: -600px 0 0 -350px;*/
}
#hour0{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#hour1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#hour2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width:100%;
}
#minute1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width:100%;
}
#minute2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#second1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#second2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#mili1{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#mili2{
position: absolute;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
height: 100%;
width: 100%;
}
#dots{
z-index: -1;
position: fixed;
height: 100%;
width: 100%;
}



/*#clock{

}


#hour0 {
position: absolute;

}

#hour1 {
position: absolute;

}

#hour2 {
position: absolute;

}

#minute1 {
position: absolute;

}

#minute2 {
position: absolute;

}

#second1 {
position: absolute;


}

#second2 {
  position: absolute;

}*/


/*type on the blok.html page*/

body{
	  background-color: black;
			font-family: 'Space Mono', monospace;
}


#myDIV {
	font-weight: lighter;
	z-index: 10;
	padding: 10px;
	float: left;
	height: 100vh;
	font-size: 3em;
	color: black;
	overflow-y: scroll;
}

.fuck{
	 /*position: absolute;*/
	font-size: .5em;
	display: inline-block;
}
#myDIV2 {
	position: absolute;

		font-weight: lighter;
	z-index: 10;
	padding: 10px;
	font-size: 3em;
	float: left;
	height: 100vh;
	overflow-y: scroll;
	color: black;
}
#myDIV3 {
	position: absolute;

		font-weight: lighter;
	z-index: 10;
	padding: 10px;
	font-size: 3em;
	float: left;
	height: 100vh;
	overflow-y: scroll;
	color: black;
}
#myDIV4 {
	position: absolute;

		font-weight: lighter;
	z-index: 10;
	padding: 10px;
	font-size: 3em;
	float: left;
	height: 100vh;
	overflow-y: scroll;
	color: black;
}

.images {

    z-index: 10;
    padding: 10px;
    font-size: 4em;
    float: left;
    height: 100vh;
    overflow: hidden;
}

.type-addition-one {

    z-index: 10;
    padding: 10px;
    font-size: 4em;
    float: left;
    height: 100vh;
    overflow-y: scroll;
		color: black;
}

#ital{
	font-style: italic;
}


/*buttons */
