@font-face {
    font-family: "Gill Facia MT Std Regular Display";
    src: url("435079d34f9ef82c6ee56ba38e82d0ac.eot");
    /* IE9*/
    src: url("435079d34f9ef82c6ee56ba38e82d0ac.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("435079d34f9ef82c6ee56ba38e82d0ac.woff2") format("woff2"), /* chrome、firefox */
    url("435079d34f9ef82c6ee56ba38e82d0ac.woff") format("woff"), /* chrome、firefox */
    url("435079d34f9ef82c6ee56ba38e82d0ac.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("435079d34f9ef82c6ee56ba38e82d0ac.svg#Gill Facia MT Std Regular Display") format("svg");
    /* iOS 4.1- */
}

body {
    font-family: "Gill Facia MT Std" !important;
    background: black;
}


/*   hover type    */


sup {
	font-size: 0.6em;
	vertical-align: top;
	position: relative;
	top: .5em; }

.word {
    z-index: 9999;
		width: 800px;
    display: none;
    font-size: 3em;
		text-align: center;
    line-height: .8;
    color: white;
		position : fixed;
		pointer-events: none;

    left: 50%;
		bottom:10px;
    margin-right: -50%;
    transform: translate(-50%);
}

.footnotes{
	z-index: 9999;
	width: 800px;
	display: none;
	font-size: 1em;
	text-align: center;
	color: white;
	position : relative;
	pointer-events: none;
	left: 50%;
	bottom:20px;
	margin-right: -50%;
	transform: translate(-50%);
}


.this {
	float: left;
	 width: 1000px;
    z-index: 0;
    position: relative;
		  filter: saturate(0)
}

.this-1 {
	float: right;
	 width: 1000px;
		z-index: 0;
		position: relative;
		  filter: saturate(0)
}

.this-2 {
	float: left;
	 width: 1000px;
    z-index: 0;
    position: relative;
		  filter: saturate(0)
}

.this-3 {
	float: right;
	 width: 1000px;
		z-index: 0;
		position: relative;
		  filter: saturate(0)
}

.this-4 {
	float: left;
	 width: 1000px;
    z-index: 0;
    position: relative;
		  filter: saturate(0)
}

.this-5 {
	float: right;
	 width: 1000px;
		z-index: 0;
		position: relative;
		  filter: saturate(0)
}

.this-6 {
	float: left;
	 width: 1000px;
		z-index: 0;
		position: relative;
		  filter: saturate(0)
}

.this-7 {
	float: right;
	 width: 1000px;
		z-index: 0;
		position: relative;
		  filter: saturate(0)
}

.this-8 {
    z-index: 0;
    position: relative;
    filter: saturate(0)
}

.word-1 {
    z-index: 9999;
		width: 800px;
		display: block;
    font-size: 1.5em;
		position: relative;
		text-align: center;
    line-height: .8;
    color: white;
		/*pointer-events: none;*/
		left: 50%;
		bottom:10px;
		margin-right: -50%;
		transform: translate(-50%);
}

/*-webkit-transform: rotate(-640deg);*/

img:hover+p {
    display: block;
}


/*circles*/

.together{
position: fixed;
display: flex;
flex-direction: row;
	bottom: 0;
	width: 100vw;
	z-index: 99999999999;


}



#refrence-circle{
		border-radius: 50%;
		border: 3px solid red;
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
position: relative;
	 width: 50vh;
	 height: 50vh;
}





#circle-stepin-in{
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
}
#circle-stepin-in-link {
	display: inline-block;
	position: relative;
	border: 3px solid white;
	border-radius: 50%;
	width: 100%;
	height: auto;
	z-index: 9999999;
	transition: 0.2s all;
	order: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 50vh;
	height: 50vh;

	 pointer-events:all !important;


}
div#circle-stepin-in-link:hover{
	 transition: background-color;
	background-color: white;
		transition: 0.2s all;
}
