@font-face {
    font-family: "Gill Facia MT Std Regular Display";
    src: url("435079d34f9ef82c6ee56ba38e82d0ac.eot");
    /* IE9*/
    src: url("435079d34f9ef82c6ee56ba38e82d0ac.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("435079d34f9ef82c6ee56ba38e82d0ac.woff2") format("woff2"), /* chrome、firefox */
    url("435079d34f9ef82c6ee56ba38e82d0ac.woff") format("woff"), /* chrome、firefox */
    url("435079d34f9ef82c6ee56ba38e82d0ac.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("435079d34f9ef82c6ee56ba38e82d0ac.svg#Gill Facia MT Std Regular Display") format("svg");
    /* iOS 4.1- */
}

body {
    /*font-family: 'Space Mono', monospace;*/
    font-family: "Gill Facia MT Std" !important;
    background: black;
    overflow-y: hidden;
    overflow-x: hidden;

}


.together{
display: flex;
flex-direction: row;
float:right;
	right: 0;
	z-index: 99999999999;



}



#refrence-circle{
		border-radius: 50%;
		border: 3px solid red;
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
position: relative;
	 width: 50vh;
	 height: 50vh;
}





#circle-stepin-in{
	z-index: 9999999;
	 pointer-events: none;
	 background: none !important;
}
#circle-stepin-in-link {
	display: inline-block;
	position: relative;
	border: 3px solid white;
	border-radius: 50%;
	width: 100%;
	height: auto;
	z-index: 9999999;
	transition: 0.2s all;
	order: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	width: 50vh;
	height: 50vh;

	 pointer-events:all !important;


}
div#circle-stepin-in-link:hover{
	 transition: background-color;
	background-color: white;
		transition: 0.2s all;
}


/*third type */

.contain-the-images {
    width: 100%;
    height: 100vh;
}

.word {
    z-index: 1;
    top: 20px;
    display: none;
    font-size: 3em;
    text-align: center;
    line-height: .8;
    direction: ltr;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
		pointer-events: none;
}

.word-1 {
    z-index: 1;
    top: 20px;
    right: 800px;
    width: 850px;
    display: none;
    font-size: 3em;
    text-align: center;
    line-height: .8;
    direction: ltr;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
		pointer-events: none;
}

.word-2 {
    z-index: 111;
    top: 230px;
    left: 700px;
    width: 950px;
    display: none;
    font-size: 3em;
    text-align: center;
    line-height: .8;
    direction: ltr;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
		pointer-events: none;
}

.word-3 {
    z-index: 1;
    top: 450px;
    right: 0px;
    width: 750px;
    display: none;
    font-size: 3em;
    text-align: center;
    line-height: .8;
    direction: ltr;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
		pointer-events: none;
}

.word-4 {
    z-index: 1;
    top: 540px;
    left: 0px;
    width: 100%;
    display: none;
    font-size: 3em;
    line-height: .8;
    direction: ltr;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
		pointer-events: none;
}

.word-5 {
    z-index: 1;
    top: 720px;
    left: 300px;
    width: 600px;
    display: none;
    font-size: 3em;
    line-height: .8;
    direction: ltr;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
		pointer-events: none;
}

.word-6 {
    z-index: 1;
    top: 720px;
    right: 0px;
    width: 600px;
    display: none;
    font-size: 3em;
    line-height: .8;
    direction: ltr;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
		pointer-events: none;
}

.word-7 {
    z-index: 1;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    display: none;
    font-size: 3em;
    line-height: .8;
    direction: ltr;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
		pointer-events: none;
}

.word-8 {
    bottom: 0px;
    right: 0px;
    width: 100vw;
    display: none;
    font-size: 3em;
    line-height: .8;
    direction: rtl;
    position: fixed;
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
    z-index: -4;
		pointer-events: none;
}

.this {

		cursor: none;

    position: absolute;
    left: 0px;
    top: -100px;
    height: 35%;
}

.this-1 {
	cursor: none;

    position: absolute;
    left: 450px;
    top: 100px;
    height: 40%;
    filter: saturate(0);
		pointer-events: all !important;
}

.this-2 {
	cursor: none;

    position: absolute;
    left: 20px;
    bottom: 280px;
    height: 40%;
    filter: saturate(0);
		pointer-events: all !important;
}

.this-3 {
	cursor: none;

    position: absolute;
    left: 80px;
    top: 700px;
    height: 40%;
    filter: saturate(0);
		pointer-events: all !important;
}

.this-4 {
	cursor: none;

    position: absolute;
    right: 800px;
    bottom: 100px;
    height: 40%;
    filter: saturate(0);
		pointer-events: all !important;
}

.this-5 {
	cursor: none;

    position: absolute;
    right: -100px;
    bottom: -00px;
    height: 40%;
    filter: saturate(0);
		pointer-events: all !important;
}

.this-6 {
	cursor: none;

    position: absolute;
    right: 250px;
    top: 650px;
    height: 40%;
    filter: saturate(0);
		pointer-events: all !important;
}

.this-7 {
	cursor: none;

    position: absolute;
    right: 300px;
    top: 450px;
    height: 40%;
    filter: saturate(0);
		pointer-events: all !important;
}

.this-8 {
	cursor: none;

    position: absolute;
    right: 400px;
    top: 150px;
    height: 40%;
    ;
    filter: saturate(0);
		pointer-events: all !important;
}

#cursor{
	width: 100vw;
	height: 100vh;
z-index: -999999999999;
}


/*-webkit-transform: rotate(-640deg);*/

img:hover+p {
    display: block;
}
